/* @font-face {
  font-family: 'Roboto';
  src: url('../font/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../font/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
} */
.comTextFiled{
  /* font-family: 'Roboto','Helvetica','sans-serif'; */
    font-family: 'Roboto', sans-serif;

  
}
.COMCssContainer {
  min-height: 100vh;
  /* Prevents shrinking but keeps it scrollable */
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* ✅ Scrollbar appears if content overflows */
  justify-content: flex-start;
}

.body_Background {
  margin-top: -20px;
  /* background-image: url('../../assets/3d-rendering-hexagonal-texture-background.jpg'); */
  background-size: cover;

}

.ComCssInputHide {

  flex-direction: column;
  /* background-color: floralwhite; */
  border: 2px solid #edd9d9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 95%;
  margin-top: 20px;
  margin-left: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* Space evenly */
  gap: 30px;
  background-color: white;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
               Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
               sans-serif; */
                 font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex-wrap: wrap
    /* Space between rows */
}

.ComCssSubmitButton {
  background-color: rgb(26, 171, 33) !important;
}
.ComCssReworkerRequestButton {
  background-color: rgba(125, 9, 110, 0.263) !important;
}
.ComCssRequesterApproveButton {
  background-color: rgb(26, 171, 33) !important;
}
.ComCssReturningApproveButton {
  background-color: rgb(200, 143, 11) !important;
}
.ComCssStockApproveButton {
  background-color: rgb(190, 22, 103) !important;
}
.ComCssPTLApproveButton {
  background-color: rgb(162, 25, 186) !important;
}
.ComCssPtlButton {
  background-color: rgb(26, 171, 33) !important;
}
.ComCssUpdateButton {
  background-color: orange !important;
}

.ComCssDeleteButton {
  background-color: red !important;
}

.ComCssAddButton {
  background-color: rgb(26, 171, 33) !important;
}

.ComCssClearButton {
  background-color: rgb(220, 49, 200) !important;
}

.ComCssExcelUploadButton {
  background-color: rgb(26, 171, 33) !important;
}


.ComCssExportButton {
  background-color: rgb(13, 151, 61) !important;
}


.ComCssPendingButton {
  background-color: orange !important;
}

.ComCssPariallButton {
  background-color: rgb(14, 120, 99) !important;
}

.ComCssAllButton {
  background-color: rgb(219, 30, 144) !important;
}

.ComCssCloseButton {
  background-color: rgb(16, 157, 9) !important;
}

.ComCssInput {
  flex-direction: column;
  /* background-color: floralwhite; */
  border: 2px solid #edd9d9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 95%;
  margin-top: 20px;
  margin-left: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* Space evenly */
  gap: 30px;
  background-color: rgb(9, 146, 156);
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
               Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
               sans-serif; */
                 font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex-wrap: wrap
    /* Space between rows */
}



/* 🔥 Glowing animated border inside */
.ComCssInput::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  /* background: conic-gradient(from 0deg,
      #4bd52c,
      #d7c247,
      #cd3eb1); */
  background: conic-gradient(from 0deg,
      #21ad0f,
      #d7c247,
      #dd1ed6);
  border-radius: 10px;
  z-index: -1;
  animation: spin 4s linear infinite;
  filter: blur(8px);
}

/* Inner white layer */
.ComCssInput::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: white;
  border-radius: 8px;
  z-index: -1;
}

/* 🌀 Animation */
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.ComCssInputHide7 {
  flex-direction: column;
  /* background-color: floralwhite; */
  border: 2px solid #edd9d9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 95%;
  margin-top: 20px;
  margin-left: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  /* Space evenly */
  gap: 30px;
  background-color: white;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
               Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
               sans-serif; */
                 font-family: 'Roboto', sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;
  flex-wrap: wrap
    /* Space between rows */
}

.ComCssFiledName {
  font-size: 15.9px;
  font-weight: bold;
  color: #0070b4;
  
  margin: 0;
  padding-left: -10px;
  padding-top: 0px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
               Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
               sans-serif;
  align-self: flex-start; */
    /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: Prometo; */
}

/* Ensure 4 fields in a row */
.ComCssTexfiled {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 2fr));
  /* Responsive fields */
  gap: 20px;
  width: 100%;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
               Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
               sans-serif; */
                 font-family: 'Roboto', sans-serif;

}

.ComCssButton9 {
  display: flex;
  justify-content: flex-end;
  /* Align buttons to the right */
  gap: 15px;
  /* Space between buttons */
  margin-top: -10px;
  /* Gap between button rows */
  width: 100%;
  font-size: 14px;
}

.ComCssButton9 button {
  color: white;
  background-color: #20c9c6;
  height: 30px;
  width: 70px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
      font-size: 14px;
  margin-top: 10px;

}


.ComCssButton9 button:hover {
  background-color: #0d9a95;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ComCssButton9 button:active {
  /* transform: scale(0.98);     */
  transform: scale(1.10);

}

.ComCssSubmitButton9 {
  display: flex;
  justify-content: flex-end;
  /* Align buttons to the right */
  /* gap: 15px;                       Space between buttons */
  /* margin-top: -7px; */
  width: 100%;
}

.ComCssSubmitButton9 button {
  color: white;
  background-color: #20c9c6;
  height: 30px;
  width: 70px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 87px;
  /* Gap between button rows */
  /* margin-bottom: -20px;                */

}

.ComCssSubmitButton9 button:hover {
  background-color: #0d9a95;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ComCssSubmitButton9 button:active {
  /* transform: scale(0.98);     */
  transform: scale(1.30);

}

.ComCssUpload {
  display: flex;
  justify-content: flex-start;
  /* Align buttons to the right */
  gap: 15px;
  /* Space between buttons */
  margin-top: -30px;
  /* Gap between button rows */
  width: 100%;
  margin-left: 0px;

}

.ComCssUpload button {
  color: white;
  background-color: #e76ea8;
  height: 30px;
  font-size: smaller;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}

.ComCssUpload button:hover {
  background-color: #0d9a95;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ComCssUpload button:active {
  transform: scale(0.98);
}
.disabledDarkText .MuiInputBase-input.Mui-disabled {
  -webkit-text-fill-color: black; /* Chrome/Safari */
  color: black;                    /* Firefox/other */
  opacity: 1;                      /* remove default opacity */
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}
.ComCssTable {
  display: flex;
  flex-direction: column;
  /* Stack table vertically */
  height: auto;
  /* Adjust height automatically */
  width: 95%;
  margin-left: 40px;
  margin-top: 30px;
  justify-content: flex-start;
  border: 2px solid #edd9d9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
               Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
               sans-serif; */
  /* overflow: auto; */
  font-family: 'Roboto', sans-serif;
}

.ComCssTableName {
  font-size: 15.9px;
  font-weight: bold;
  color: rgb(6, 132, 154);
  /* color: rgb(34, 92, 208); */
  position: relative;
  /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
/* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
               Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
               sans-serif; */
   font-family: 'Roboto', sans-serif;
              
}



.ComTableMenu {
  position: absolute;
  top: 45px;
  left: 120%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 5px solid #12de1d;
  animation: blinkBorder 1s infinite;
  box-shadow: 0 0 10px rgba(57, 191, 52, 0.1);
  padding: 5px;
  z-index: 1000;
  border-radius: 5px;
  min-width: 160px;
  font-size: smaller
}

@keyframes blinkBorder {
  0% {
    border-color: #37e91f;
  }

  50% {
    border-color: transparent;
  }

  100% {
    border-color: #1a7783;
  }
}

.comCloseIcon {
  color: red;
  font-size: 20px;
  cursor: pointer;
  transition: "transform 0.2s"
}

/* Head row */
.react-datatable .rdt_TableHeadRow {
  /* background: linear-gradient(to right, #701964, #179999); */
  /* background: linear-gradient(to right, #214b6f, #06c585); */
  /* background: linear-gradient(to right, #11828d, #0b7e57); */
/* background: linear-gradient(145deg, #0db38c, #7c1570, #0a5647); */
  background: linear-gradient(to right, #0b7e57, #c51073);

  /* background: linear-gradient(to right, #900441); */

  color: white;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  min-height: 40px;
  margin-left: -10px;

}

/* Head cells */
.react-datatable .rdt_TableCol {
  text-align: left;
  /* margin-left:-3px; */
  justify-content: flex-start;
  font-weight: bold;

}

/* Data rows */
.react-datatable .rdt_TableRow {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  /* margin-left: 10px; */
  text-align: left;
  align-items: flex-start;
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif; */
      font-family: 'Roboto', sans-serif;

}

/* Data cells */
.react-datatable .rdt_TableCell {
  padding: 5px;
  text-align: left;
  justify-content: flex-start;
}

/* Pagination */
.react-datatable.rdt_Pagination {
  border: 1px solid #a38a8a;
  background-color: #f9f9f9;
  color: #1d1515;
  min-height: 35px;
  padding: 5px;
  font-size: 12px;
  font-weight: bolder;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit-button {
  background-color: green;
  border: none;
  padding: 5px 4px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.btn.btn-success {
  font-size: 13px;
  font-weight: bold;
  height: 32px;
}



.ComCssButtonMenu {
  display: flex;
  justify-content: flex-start;
  /* Align buttons to the right */
  gap: 15px;
  /* Space between buttons */
  margin-top: -10px;
  /* Gap between button rows */
  width: 100%;
  font-size: 14px;
  margin-left: 30px;
}

.ComCssButtonMenu button {
  color: white;
  background-color: #20c9c6;
  height: 30px;
  width: 70px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;

}


.ComCssButtonMenu button:hover {
  background-color: #0d9a95;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.ComCssButtonMenu button:active {
  /* transform: scale(0.98);     */
  transform: scale(1.30);

}

/* CSS */
/* CSS */
@keyframes blink {

  0%,
  50%,
  100% {
    opacity: 1;
    box-shadow: 0 0 5px currentColor;
  }

  25%,
  75% {
    opacity: 0.3;
    box-shadow: 0 0 20px currentColor;
  }
}

.blinking {
  width: 50px;
  height: 50px;
  border-radius: 90%;
  display: inline-block;
  margin-right: 10px;
  animation: blink 1s infinite;
}

/* *********************************************************************************************** */

@media (min-width: 1024px) and (max-width: 1439.98px) {
  .ComCssTexfiled {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 19px;
    width: 100%;
    font-size: xx-small;
  }

  .ComCssUpload button {
    height: 22px;
    font-size: x-small;
    font-weight: bold;

  }

  /* .ComCssFiledName {
    font-size: 15px;
} */
  .ComCssTableName {
    font-size: 15px;

  }

  .ComCssExport {
    font-size: 15px;
  }

  .ComCssInput {
    margin-left: 30px;

  }

  .ComCssTable {
    margin-left: 35px;
  }

  .btn.btn-success {
    font-size: 12px;
    font-weight: bold;
    height: 27px;
  }
}


/* Extra-large screens (TVs, 4K) */
@media (min-width: 1024px) and (max-width: 1440px) {
  .ComCssButton9 {
    /* margin-top: -73px;                 */
    width: 100%;
    font-size: 12px;
  }

  .ComCssButton9 button {

    height: 28px;
    width: 65px;


  }

  .ComCssFiledName {
    font-size: 15px;
    font-weight: 700;
  }

  .ComCssUpload {
    margin-top: -30px;
    /* Gap between button rows */


  }

}

@media (min-width: 2000px) {
  .ComCssInput {
    margin-left: 58px;
  }


  .ComCssTable {
    margin-left: 58px;
  }


  .ComCssInputHide7 {

    margin-left: 58px;

  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .ComCssButton9 {
    /* margin-top: -73px;                 */
    width: 100%;
    font-size: 10px;
  }

  .ComCssButton9 button {

    height: 25px;
    width: 65px;

  }

  .ComCssFiledName {
    font-size: 15px;
    font-weight: 700;
  }

  .ComCssUpload {
    margin-top: -30px;
    /* Gap between button rows */


  }

  .ComCssInput {
    margin-left: 26px;
  }


  .ComCssTable {
    margin-left: 26px;
  }


  .ComCssInputHide7 {

    margin-left: 26px;

  }

}

@media (min-width: 510px) and (max-width: 718px) {

  .ComCssInput {
    margin-left: 5px;
  }

}