

.ApprovalButton9 button {
    color: white;
    background-color: #20c9c6;          
    height: 40px;
    width: 70px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;  
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;                /* Gap between button rows */

}
