
.BomContainer{
display: flex;
overflow: auto;            /* ✅ Scrollbar appears if content overflows */
justify-content: flex-start;
flex-direction: column;
min-height: 100vh; /* Prevents shrinking but keeps it scrollable */
    background-color: white;

}

.BomMasterInput{
    flex-direction: column;
    /* background-color: floralwhite; */
    border: 2px solid #edd9d9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 95%;
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
    display: flex;                    
    justify-content: space-between;    /* Space evenly */
    gap: 30px;
    flex-wrap: wrap  
}

.BomMasterFiledName {
    font-size: 30px;
    color: rgb(34, 92, 208);
    margin: 0;
    padding-left:-10px;
    padding-top: 0px;
    align-self: flex-start;  /* Align to the left */
}
.BomMasterTexfiled {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); /* Responsive fields */
    gap: 20px;
    width: 100%;
}

.bomMasterTable {
  
  display: flex;
  flex-direction: column;              /* Stack table vertically */
  height: auto;                        /* Adjust height automatically */
  width: 95%;
  margin-left: 30px;
  margin-top: 50px;
  justify-content: flex-end !important;
  border: 2px solid #edd9d9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  /* overflow: auto;                      Prevent overflow */
}