

.ProductTexfiled {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 2fr)); /* Responsive fields */
    gap: 20px;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



@media (min-width: 1024px) and (max-width: 1161.98px) {
    .ProductTexfiled {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        gap: 19px;
        width: 100%;
        font-size:small;   
    }
     .ProductTexfiled-textfield input {
    height: 15px;
    font-size: 13px;
  }
 
}
@media (min-width: 1163px) and (max-width: 1439.98px) {
    .ProductTexfiled {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 19px;
        width: 100%;
        font-size:xx-small;
    }
    
}