.RecevingTexfiled {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); 
    gap: 30px;
    width: 30%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 35px;
}

.RecevingTexfiled9 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)); 
    gap: 15px;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 35px;
}


.RecevingInputHide {
    flex-direction: column;
    /* background-color: floralwhite; */
    border: 2px solid #edd9d9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 95%;
    margin-top: 20px;
    margin-left: 40px;
    padding: 20px;
    display: flex;                    
    justify-content: space-between;    /* Space evenly */
    gap: 30px;
    background-color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 position: relative;
  overflow: hidden;
  z-index: 1;
    flex-wrap: wrap                         Space between rows
}
.ProductTexfiled-textfield {
  position: relative;
  background: none; /* clear base */
}

.ProductTexfiled-textfield::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 79%;
  width: 100%;
  /* background-color: rgb(174, 177, 181); */
  z-index: -1;
  border-radius: 4px;
}

.RecevingTable {
    display: flex;
    flex-direction: column;              /* Stack table vertically */
    height: auto;                        /* Adjust height automatically */
    width: 100%;
    border-radius: 10px;
    margin-top: 50px;
    justify-content: flex-start;   
           font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.RecevingDetailTable {
    display: flex;
    flex-direction: column;              /* Stack table vertically */
    height: auto;                        /* Adjust height automatically */
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: flex-start;   
           font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.invoice-input {
  width: 190px;
  border-radius: 10px;
  background-color: white;
  box-shadow:  -2px -2px 5px rgba(233, 211, 228, 0.8);
  transition: all 0.2s ease-in-out;
      font-weight: bold;

}

.invoice-input .MuiOutlinedInput-root {
  height: 37px; /* Adjust overall height */
  border-radius: 10px;
  /* padding-right: 8px; */
    font-size: 13px;
    font-weight: bold;
    gap: 30px;

}

.invoice-input .MuiOutlinedInput-input {
  /* padding: 12px 16px;  */
  font-weight: bold;
  color: #390525;
  border-radius: 50px;
}

/* Optional hover effect */
.invoice-input:hover,
.invoice-input:focus-within {
  box-shadow: 2px 2px 6px rgba(76, 221, 9, 0.4), -1px -1px 4px rgba(255, 255, 255, 0.9);
  transform: scale(1.03);
  
}



