/* HomeComponent.css */
.home-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
    padding-left: 10px;
  padding-right: 10px;
  /* width: 70px; */

}

.stat-box {
  flex: 1 1 18%;
  background: #1e90ff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  min-width: 150px;
}

.stat-box h3 {
  margin: 0 0 10px 0;
}

.stat-box p {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.stat-box {
  flex: 1 1 18%;
  background: linear-gradient(145deg, #d857cb, #4682ff);
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  min-width: 150px;
  box-shadow: 6px 6px 15px rgba(0,0,0,0.2),
              -6px -6px 15px rgba(255,255,255,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.stat-box:hover {
  transform: translateY(-5px);
  box-shadow: 8px 8px 20px rgba(0,0,0,0.3),
              -8px -8px 20px rgba(255,255,255,0.1);
}
